*
{
    margin:0;
    top:0;
    box-sizing: border-box;
    font-family:'poppins',Arial, Helvetica, sans-serif;
}

body
{
    color: #ededed;
    background: #081b29;
}

.header
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 10%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #051129;
}

.logo
{
    position: relative;
    font-size: 25px;
    color:#fff;
    font-weight:600;
    text-decoration: none;
    cursor:default;
    opacity:0;
    animation:slideRight 1s ease forwards;
}

.navbar a
{
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    color:#fff;
    font-weight:500;
    margin-left: 35px;
    transition:.3s;
    opacity:0;
    animation:slideTop .5s ease forwards;
    animation-delay:calc(.2s*var(--i));
}




.navbar a:hover
{
    color:aqua;
}

.home
{
    height: 100vh;
    position: relative;
    width: 100%;
    justify-content: space-between;
    background: url(img.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items:center;
    background-attachment: fixed;
    color:white;
}

.home-content
{
    max-width: 600px;
}

.home-content h3
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px; ;
    opacity:0;
    animation:slideBottom 1s ease forwards;
    animation-delay:.7s;
}

.home-content h1
{
    font-size: 56px;
    font-weight:700;
    margin:-3px 0;
    opacity:0;
    animation:slideRight 1s ease forwards;
    animation-delay:.9s;
}

.home-content p
{
    font-size:20px;
    opacity:0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color:#0ef;
    text-decoration: none;
    margin : 30px 50px 30px 0;
    transition:.5s ease;
    opacity:0;
    animation:slideLeft 1s ease forwards;
    animation-delay:calc(.2s*var(--i));
}

.home-content h3:nth-of-type(2)
{
    margin-bottom:30px;
    animation:slideTop 3s ease forwards;
    animation-delay: .7s;

}
.home-sci a:hover
{
    background: #0ef;
    color:#081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box
{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius:40px;
    font-size:16px;
    color:#081b29;
    text-decoration: none;
    font-weight: 600;
    opacity:0;
    animation:slideTop .5s ease forwards;
    animation-delay: 2s;
    box-shadow:0 0 5px #0ef,
    0 0 25px #0ef,

}
.btn-box:hover
{
    box-shadow: 0 0 20px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan;
}

.home-content span
{
    color:#0ef;
}

.about
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
    
}

.about-img img
{
    margin: 20px 20px 20px 20px;
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width:100%;
    border-radius: 10px;
}

.about-text h2
{
    font-size: 60px;
}

.about-text h2 span
{
    color:#0ef;
}

.about-text h4
{
    font-size: 20px;
    font-weight: 600;
    color:#fff;
    line-height:1.7;
    margin: 15px 0 30px;

}

.about-text p
{
    color:aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;

}


















@keyframes slideRight
{
    0% 
    {
        transform: translateX(-100px);
        opacity:0;
    }
    100% 
    {
        transform: translateX(0px);
        opacity:1;
    }
}

@keyframes slideTop
{
    0% 
    {
        transform: translateY(100px);
        opacity:0;
    }
    100% 
    {
        transform: translateY(0px);
        opacity:1;
    }
}

@keyframes slideBottom
{
    0% 
    {
        transform: translateY(-100px);
        opacity:0;
    }
    100% 
    {
        transform: translateY(0px);
        opacity:1;
    }
}

@keyframes slideLeft
{
    0% 
    {
        transform: translateX(100px);
        opacity:0;
    }
    100% 
    {
        transform: translateX(0px);
        opacity:1;
    }
}

.skills .heading span
{
    color:#0ef;
}

.skills
{
    padding:80px 10%;
    text-align:center;
}

.skills .heading
{
    font-size: 55px;
    margin-bottom: 40px;
}

.skills-container
{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.skill-box
{
    background: #09203a;
    padding:25px;
    border-radius: 25px;
    box-shadow: 0 0 25px #0ef;
    transition: 0.4s;
}

.skill-box:hover
{
    transform: translateY(-15px);
    box-shadow: 0 0 30px #0ef;
}

.skill-box i
{
    font-size:50px;
    color: #0ef;
}

.skill-box h3
{
    margin-top: 15px;
    font-size: 25px;
    color: #d9d9d9;
}

.skill-box p
{
    margin-top: 10px;
    font-size:18px
}

.contact 
{
    padding: 80px 10%;
}

.contact .heading 
{
    text-align: center;
    font-size: 55px;
}

.contact .heading span 
{
    color: #0ef;
}

.contact form
{
    align-items: center;
    max-width: 700px;
    margin: auto;
}

.contact .input-box
{
    margin:10px 0;
    display: flex;
    gap:20px;
}

.contact .text-area,
.contact .input-box input,
.contact textarea 
{
    width: 100%;
    padding: 18px;
    background: #0d2033;
    border: 2px solid #0ef;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    outline: none;
}

.footer
{
    background: #051129;
    margin-top:25px;
    text-align: center;
    padding: 20px;
}

.footer p
{
    font-size: 25px;
    color: #fff;
}
